[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Was instaled via pipenv run pip install ...whl
PyOpenGL = "3.1.5"
PyOpenGL-accelerate = "3.1.5"

Image = "*"
Pillow = "*"

numpy = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
